* {
	border: 0;
	margin: 0;
	padding: 0;
	outline: 0;
	list-style: none;
	list-style-type:none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'Spectral', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}

body {
	color: #181818;
	max-width: 100%;
	background-color: #ffffff;
}

#main {
	max-width: 100%;
	font-size: 16px;
	line-height: 1.2;
	margin: 0 1.20em;
}

p {
	display: block;
	font-size: 1em;
	margin-block-start: 1em;
	margin-block-end: 1em;
}

h1 {
	display: block;
	font-size: 2em;
	font-weight: bold;
	margin-block-start: 0.81em;
	margin-block-end: 0.66em;
}

h2 {
	display: block;
	font-size: 1.4em;
	font-weight: bold;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
}

h3 {
	display: block;
	font-size: 1.17em;
	font-weight: bold;
	margin-block-start: 1em;
	margin-block-end: 1em;
}

button {
	width: 6.0em;
	height: 2.40em;
	color: #181818;
	cursor: pointer;
	font-size: 1em;
	align-items: center;
	display: inline-block;
	border: 1px solid #999999;
	background-color: #ffffff;
}

textarea {
	width: 100%;
	height: 12em;
	outline: none;
	color: #181818;
	font-size: 1em;
	padding: 0.75em;
	max-height: 100%;
	line-height: 1.5;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: thin;
	border: 1px solid #999999;
	background-color: #ffffff;
	scrollbar-color: #c9c9c9 #fbfbfb;
}

#myInput3 {
	height: 3.30em;
}

input[type=checkbox] {
	margin: 0 0.27em;
}

@media (min-width: 810px) {
	textarea {
		max-width: 810px;
	}
}

@media (max-width: 357px) {
	.spanBreak2 {
		display: block;
		height: 0.30em;
	}
}

@media (max-width: 216px) {
	.spanBreak1 {
		display: block;
		height: 0.30em;
	}
	.dobleBr {
		display: none;
	}
	h1 {
		font-size: 1.65em;
	}
}